*{
  box-sizing: border-box;
}
body {
  background-color: grey;
  font-family: 'Raleway', sans-serif;
}
nav li{
  display: inline;
  padding: 10px 20px ;
  font-size: 1.5em;

}

.img{
  max-width: 100%;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;

}

li{
  color: white;
}
