.main-nav ul{
  display: block;
  width: 100%;
  color: white;
}

.main-nav li{
  display: inline;
  padding: 10px 20px ;
  font-size: 2em;
}

.fa-bars {
  display: none;
  font-size: 3em;
  float: right;
  padding: 2%;
  color: white;
}

.hero-splash-container{
  height:500px;
  width: 100%;
  margin-bottom: 5%;
  padding-top: 10%;
  text-align: center;
  font-size: 3em;
  color: white;
}

.portfolio-container{
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  height: 40em;
  width: 100%;
  background-color: white;
}

.portfolio-heading {
  text-align: center;
  font-weight:bolder;
  width: 100%;
  font-size: 4em;
}

.project-container{
  width: 200px;
  height: 200px;
  padding: .5% 1% ;
  margin: 1%;

  background-color: grey;
  color: white;
}

.about-container{
  height: 600px;
  text-align: center;
  background-color: yellow;
}

.about-container h1{
  font-size: 4em;
}
