/*Header Region*/

.main-nav{
  display: inline;
}
.main-nav ul{
  display: inline;
  width: 100%;
  color: white;
}

.main-nav li{
  display: inline;
  padding: 10px 20px ;
  font-size: 1.5em;
}


.fa-bars {
  display: none;
  font-size: 3em;
  padding: 2%;
  color: white;
}

/*Hero Region*/
.hero-splash-container{
  display: block;
  background-image: url('https://static.pexels.com/photos/7100/iphone-desk-laptop-notebook.jpg');
  background-size: cover;
  margin-bottom: 5%;
  width: 100vw;
  height: 90vh;
  font-size: 1.2em;
  color: white;
}

.brand{
  display: inline;
  padding: 1em;
  font-size: 2em;
}
/*About Region*/
.about-container{
  height: 600px;
  text-align: center;
  background-color: yellow;
}

/*Portfolio Region*/
.portfolio-container{
  display: block;
  flex-wrap: wrap;
  height: 40em;
  width: 100%;
  background-color: white;
}

.portfolio-heading {
  text-align: center;
  font-weight:bolder;
  width: 100%;
  font-size: 4em;
}

.project-container{
  width: 10em;
  height: 10em;
  background-color: grey;
  color: white;
}
